// colors
$black: #000;
$white: #fff;
$red: #ee0000;
$gray: #2d2e2f;
$gray-dark: #312e37;
$gray-light: #caccce;
$gray-light-2: #f5f5f5;
$brown: #b89a67;

// fonts
$DomaineDispRegular: "DomaineDispRegular";
$DomaineDispSemibold: "DomaineDispSemibold";
$GTWalsheimPro: "GT Walsheim Pro";
$GTWalsheimProBold: "GT Walsheim Pro Bold";
$Raleway: "Raleway";

$primary-font: $Raleway;
$secondary-font: $GTWalsheimPro;
$secondary-font-bold: $GTWalsheimProBold;
$heading-font: $DomaineDispRegular;
$heading-font-bold: $DomaineDispSemibold;

// font sizes
$bace-font-size: 18px;
$small-font-size: 12px;
$medium-font-size: 22px;
$large-font-size: 48px;
$extra-large-font-size: 64px;
